body{
    text-align: center;
    background-color: #e4cdcc;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;

}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    margin: 0 auto 20px;
}

.cell{
    background-color: #c49996;
    border: 2px solid #441b11;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:hover{
    background-color: #e4cdcc;
}

#status{
    font-size: 1.2em;
    margin-bottom: 10px;
    cursor: pointer;
}

#restartBtn{
    background-color: #441b11;
    color: #e4cdcc;
    padding: 12px;
}